# Ignore everything...
*
# other than...
# specific top-level files,
!.gitignore
!LICENSE
!README.md

# ProjectFolders
!IconsPhotosEtc/
!IconsPhotosEtc/**
!WolfEngine/
!WolfEngine/**
!Documentation/
!Documentation/**
!desktop/
!desktop/**

# Exclude build output
desktop/build/