# Ignore everything...
*

# other than specific top-level files...
!.gitignore
!LICENSE
!README.md
!platformio.ini
!cxx_only_flags.py
!run_asset_converter.py
!mkdocs.yml
!Contributing.md
!CmakeLists.txt
!sdkconfig.defaults

# And project folders...
!IconsPhotosEtc/
!IconsPhotosEtc/**
!src/
!src/**
!Documentation/
!Documentation/**
!desktop/
!desktop/**
!.github/
!.github/**
!Images/
!test/

# And some special Rules for Tools folder...
!tools/
!tools/**
tools/palettes/**
!tools/palettes/coolData.toml
!tools/palettes/gameboyData.toml
!tools/palettes/grayscaleData.toml
!tools/palettes/sunsetData.toml
!tools/palettes/warmData.toml

# And some special Rules for GeneratedAssets folder...
src/GeneratedAssets/WE_Assets.hpp
!src/GeneratedAssets/Readme.md

src/GeneratedAssets/palettes/**
!src/GeneratedAssets/palettes/.gitkeep

src/GeneratedAssets/sprites/**
!src/GeneratedAssets/sprites/.gitkeep

# And some special rules for Images folder...
Images/**
!Images/assets.toml

# then exclude build and game specific sources...
desktop/build/
src/GameCode/**

#but not config files in those folders...
!test/readme.md
